In [1]:
import pandas as pd

In [5]:
sales = pd.read_csv('sales.csv')

In [6]:
sales.head()

     Покупатель  Сумма  Название фильма         Дата платежа    Магазин
0  Peter Menard   7.99      Rules Human  2007-02-15 22:25:46  Магазин 1
1  Peter Menard   1.99  Majestic Floats  2007-02-16 17:23:14  Магазин 2
2  Peter Menard   7.99      Maiden Home  2007-02-16 22:41:45  Магазин 1
3  Peter Menard   2.99      Hyde Doctor  2007-02-19 19:39:56  Магазин 1
4  Peter Menard   7.99   Massacre Usual  2007-02-20 17:31:48  Магазин 1