In [1]:
import pandas as pd

In [138]:
df = pd.read_csv('homework.csv')

This data frame contains the following columns:

**crim**
per capita crime rate by town.

**zn**
proportion of residential land zoned for lots over 25,000 sq.ft.

**indus**
proportion of non-retail business acres per town.

**chas**
Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).

**nox**
nitrogen oxides concentration (parts per 10 million).

**rm**
average number of rooms per dwelling.

**age**
proportion of owner-occupied units built prior to 1940.

**dis**
weighted mean of distances to five Boston employment centres.

**rad**
index of accessibility to radial highways.

**tax**
full-value property-tax rate per \$10,000.

**ptratio**
pupil-teacher ratio by town.

**black**
1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town.

**lstat**
lower status of the population (percent).

**medv**
median value of owner-occupied homes in \$1000s.

In [139]:
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [140]:
df.shape

(333, 15)

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID         333 non-null int64
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [142]:
df.columns

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

Колонка ID не так важна, её можно удалить

In [143]:
df_filtered = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv']]

In [144]:
df_filtered.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

Разделим данные по колонкам **chas** и **rad**

In [145]:
df_filtered.loc[df_filtered['chas'] == 1, 'is_chas'] = True
df_filtered.loc[df_filtered['chas'] != 1, 'is_chas'] = False

In [146]:
df_filtered.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,is_chas
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,False
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,False
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,False
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,False
4,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9,False

In [147]:
df_filtered['rad'] = df_filtered['rad'].astype('category')

In [148]:
df_filtered = pd.get_dummies(df_filtered, ['rad'])

In [149]:
#df_filtered = df_filtered.drop('rad',axis = 1)
df_filtered = df_filtered.drop('chas',axis = 1)

In [150]:
df_filtered.head()

,crim,zn,indus,nox,rm,age,dis,tax,ptratio,black,...,is_chas,rad_1,rad_2,rad_3,rad_4,rad_5,rad_6,rad_7,rad_8,rad_24
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,296,15.3,396.90,...,False,1,0,0,0,0,0,0,0,0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,242,17.8,396.90,...,False,0,1,0,0,0,0,0,0,0
2,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,222,18.7,394.63,...,False,0,0,1,0,0,0,0,0,0
3,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,222,18.7,396.90,...,False,0,0,1,0,0,0,0,0,0
4,0.08829,12.5,7.87,0.524,6.012,66.6,5.5605,311,15.2,395.60,...,False,0,0,0,0,1,0,0,0,0

In [151]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

In [152]:
df_filtered.columns

Index(['crim', 'zn', 'indus', 'nox', 'rm', 'age', 'dis', 'tax', 'ptratio',
       'black', 'lstat', 'medv', 'is_chas', 'rad_1', 'rad_2', 'rad_3', 'rad_4',
       'rad_5', 'rad_6', 'rad_7', 'rad_8', 'rad_24'],
      dtype='object')

In [162]:
# Формируем признаки и целевую переменную
X = df_filtered[['crim', 'zn', 'indus', 'nox', 'rm', 'age',
                 'dis', 'tax', 'ptratio', 'black', 'lstat',  'is_chas',
                 'rad_1', 'rad_2', 'rad_3', 'rad_4', 'rad_5', 'rad_6', 'rad_7', 'rad_8', 'rad_24']] 
y = df_filtered['medv']

In [163]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [164]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [165]:
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

In [166]:
linear = LinearRegression()
linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [167]:
tree = DecisionTreeRegressor()
tree.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [168]:
svr = SVR() 
svr.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [169]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

In [170]:
print('linear')
print(mean_absolute_error(y_test, linear.predict(X_test)))
print(r2_score(y_test, linear.predict(X_test)))
print(mean_squared_error(y_test, linear.predict(X_test)))
print('tree')
print(mean_absolute_error(y_test, tree.predict(X_test)))
print(r2_score(y_test, tree.predict(X_test)))
print(mean_squared_error(y_test, tree.predict(X_test)))
print('svr')
print(mean_absolute_error(y_test, svr.predict(X_test)))
print(r2_score(y_test, svr.predict(X_test)))
print(mean_squared_error(y_test, svr.predict(X_test)))

linear
3.207330512148448
0.727342229728381
24.181535984414555
tree
3.0686567164179106
0.7514890178746446
22.040000000000003
svr
3.9804080250414335
0.45707778610207594
48.150812056564504